/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Define CSS Variables */
:root {
    /* Color variables */
    --primary-color: #4169E1;        /* Primary color (e.g., blue) */
    --secondary-color: #1b0047;      /* Secondary color (e.g., dark purple) */
    --accent-color: #FFD700;         /* Accent color (e.g., gold) */
    --background-color: #F5F5F5;    /* Background color (e.g., light gray) */
    --text-color: #333333;           /* Text color (e.g., dark gray) */
    --highlight-color: #008080;     /* Highlight color (e.g., teal) */
    --neutral-color: #C0C0C0;       /* Neutral color (e.g., silver) */
    --line-height: 1.7rem;           /* Line height */
    --normal-font: 400;             /* Normal font weight */
    --bold-font: 600;               /* Bold font weight */
    --bolder-font: 900;             /* Bolder font weight */
}

/* Reset Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styles */
body {
    font-family: "Roboto", sans-serif;
}
body, nav, footer {
    transition: background-color 0.3s ease;
}

/* Header Styles */
nav {
    background: #fff;               /* Background color for the navigation bar */
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1; /* Box shadow for the navigation bar */
}

.nav-item {
    margin-left: 2rem;               /* Spacing between navigation items */
}

.nav-link {
    font-weight: var(--bold-font);    /* Font weight for navigation links */
}

a {
    text-decoration: none;            /* Remove underlines from anchor links */
    color: var(--primary-color);     /* Text color for anchor links */
}

a:hover {
    color: var(--secondary-color);   /* Text color for anchor links on hover */
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style-type: none;            /* Remove list-style (bullets) from list items */
}

.logo {
    font-size: 2rem;
    font-weight: 500;                /* Font size and weight for the logo */
}

/* Responsive Styles for Header */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 1rem;
    }

    .nav-item {
        margin-left: 0;
        margin-top: 1rem;
    }

    ul {
        flex-direction: column;
    }

    .logo {
        font-size: 1.5rem;
    }
    p {
        font-size: 5px;
    }
}
p {
    font-size: 20px;
}

/*Footer*/
footer {
    border-top: 1px solid #f1f1f1;  /* Top border for the footer */
    box-shadow: 0px -2px 3px #f1f1f1; /* Box shadow for the footer */
    text-align: center;             /* Center-align text in the footer */
    padding: 2rem;                  /* Padding for the footer content */
}

/*Light and Dark Theme Styles */
.theme-switch {
    padding-left: 1rem;             /* Spacing for the theme switch */
}

.checkbox {
    opacity: 0;                    /* Make the checkbox invisible */
    position: absolute;
}

.label {
    width: 50px;
    height: 29px;
    background-color: #111;         /* Background color for the switch label */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;            /* Rounded corners for the switch label */
    padding: 6px;
    position: relative;
}

.switcher {
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;             /* Round shape for the switch button */
}

.moon {
    color: #ffa502;
}

.sun {
    color: #ff4757;
}

.checkbox:checked + .label .switcher {
    transform: translateX(24px);   /* Move the switch button when checked */
}

/*Dark Theme Styles */
body.dark {
    background-color: #1e272e;     /* Background color for dark mode */
}

body.dark .bar {
    background-color: #fff;
}

body.dark p {
    color: #fff;                   /* Text color in dark mode */
}

body.dark h3 {
    color: #fff;
}

body.dark nav {
    background-color: #1e272e;    /* Navigation bar background color in dark mode */
    box-shadow: 2px 3px 2px #111010; /* Box shadow for the navigation bar in dark mode */
}

body.dark .role {
    color: var(--secondary-color); /* Text color for a specific role element in dark mode */
}

body.dark footer {
    color: #fff;                   /* Text color for the footer in dark mode */
    border-top: 1px solid #111010;  /* Top border for the footer in dark mode */
    box-shadow: 0px -2px 3px #111010; /* Box shadow for the footer in dark mode */
}
body.dark h2 {
    color: #fff;                   /* Text color for h2 elements in dark mode */
}

/*Gallery Styles*/
h2, p, footer, nav {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.gallery:hover {
    border: 1px solid #777;            /* Border for gallery images on hover */
}

div.gallery img {
    width: 100%;
    height: auto;                      /* Make gallery images responsive */
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;              /* Use border-box model for sizing elements */
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;                   /* Set width for responsive gallery items */
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;                       /* Clear floated elements in the gallery */
}
