@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* CSS Variables */
:root {
    --primary-color: #4169E1;     /* Royal Blue */
    --secondary-color: #1b0047;    /* White */
    --accent-color: #FFD700;       /* Gold */
    --background-color: #F5F5F5;  /* Light Gray */
    --text-color: #333333;         /* Dark Gray */
    --highlight-color: #008080;    /* Teal */
    --neutral-color: #C0C0C0;     /* Silver */
    --line-height: 1.7rem;
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
}


/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serf;
}

/*Header*/
nav {
    background: #fff;
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
}

.nav-item {
    margin-left: 2rem;
}
  
.nav-link {
    font-weight: var(--bold-font);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
} 

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style-type: none;
}

.logo {
    font-size: 2rem;
    font-weight: 500;
}
.GEO {
    color: var(--secondary-color);
}
  
.CODE {
    color: var(--primary-color);
}

/*Main*/
.container {
    display: flex;
    height: 80vh;
    margin: 1rem;
    padding-bottom: 1rem;
}

.borderRight {
    border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.content {
    flex: 40%; /* 40% of the available width */
}

#map {
    flex: 50%; /* 40% of the available width */
    z-index: 1;
}

.legend {
    flex: 10%; /* 20% of the available width */
    padding-left: 1rem;    
}

/*Table*/
tr {
    padding-bottom: 1rem;
}
td {
    border-radius: 100%;
}


/*Footer*/
footer {
    border-top: 1px solid #f1f1f1;
    box-shadow: 0px -2px 3px #f1f1f1;
    text-align: center;
    padding: 2rem;
}

/*Light and Dark*/
.theme-switch {
    padding-left: 1rem;
}
.checkbox {
    opacity: 0;
    position: absolute;
}
.label {
    width: 50px;
    height: 29px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 6px;
    position: relative;
}
.switcher {
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.moon {
    color: #ffa502;
  }
  
.sun {
    color: #ff4757;
}
.checkbox:checked + .label .switcher {
    transform: translateX(24px);
}

/*Dark*/
body.dark {
    background-color: #1e272e;
}

body.dark .bar {
    background-color: #fff;
}

body.dark p {
    color: #fff;
}

body.dark h3 {
    color: #fff;
}

body.dark nav {
    background-color: #1e272e;
    box-shadow: 2px 3px 2px #111010;
}

body.dark .role {
    color: var(--secondary-color);
}

body.dark footer {
    color: #fff;
    border-top: 1px solid #111010;
    box-shadow: 0px -2px 3px #111010;
}

/*Responsive*/
